z<div class="container-fluid register">
    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/home']"><img class="img" src="assets/img/logo2.png"></a>
        </div>
    <div class="col-md-6">
        <button class="log" [routerLink]="['/login']">Login</button>            
    </div>
</div>
<div class="box">
    <img class="logo" src="assets/img/cloud logo.png">
    <div class="input">
         <!-- <select class="entity" name="Entity type" id="Entity Type">
       <option value="">Entity Type</option>
       <option value="Individual">Individual</option>
       <option value="Partnership">Partnership</option>
       <option value="Limited Liability Partnership">Limited Liability Partnership</option>
       <option value="Private Limited Company">Private Limited Company</option>
       <option value="Public Limited Company">Public Limited Company</option>
       <option value="Others">Others</option>
        </select>  -->
        <input class="email" type="text" [(ngModel)]="userdata.firstName" name="firstName" id="password"  placeholder="Name" required autocomplete='off'>
        <input class="email" type="text" [(ngModel)]="userdata.lastName" name="lastName" id="password"  placeholder="Surname" required autocomplete='off'>
        <input class="email" type="email" id="email" [(ngModel)]="userdata.email" name="email" placeholder="E-mail" required autocomplete='off'>
        <input class="email" type="number" id="phone" maxlength="10" [(ngModel)]="userdata.contactNo" name="contactNo" placeholder="Contact No." required autocomplete='off'>
        <input class="email" type="password" id="password" [(ngModel)]="password"  name="password" placeholder="Password" required autocomplete='off'>
        <input class="email" type="password" id="password" [(ngModel)]="confpassword" name="confpassword"  placeholder="Confirm Password" required autocomplete='off'>
        </div>
        <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
        <div class="row">
        <div class="col-md-9">
                <label class="chk">
                    <input class="checkbox" type="checkbox" value="">
                    <span class="checkmark"></span>I accept the Terms and Conditions
                </label>
        </div>
        <div class="col-md-3">
        <button class="sign" (click)="register()">Sign Up</button>
        </div>
        <div class="col-md-2">
        </div>
        </div>
        </div>
           
</div>
</div>
</div>