<div class="container-fluid register">
    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/home']"><img class="img" src="assets/img/logo2.png"></a>
        </div>
    <div class="col-md-6">
        <button class="log" [routerLink]="['/login']">Login</button>            
    </div>
</div>
<div class="box">
    <img class="logo" src="assets/img/cloud logo.png">
    <div class="input">
         <select class="entity" name="Entity type" id="Entity Type">
       <option value="">Entity Type</option>
       <option value="Individual">Individual</option>
       <option value="Partnership">Partnership</option>
       <option value="Limited Liability Partnership">Limited Liability Partnership</option>
       <option value="Private Limited Company">Private Limited Company</option>
       <option value="Public Limited Company">Public Limited Company</option>
       <option value="Others">Others</option>
        </select> 
        <input class="email" type="name" id="password" name="password" placeholder="Name">
        <input class="email" type="name" id="password" name="password" placeholder="Surname">
        <input class="email" id="email" name="password" placeholder="E-mail">
        <input class="email" id="phone" name="password" placeholder="Number">
        <input class="email" id="password" name="password" placeholder="Password">
        <input class="email" id="password" name="password" placeholder="Confirm Password">
        </div>
        <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
        <div class="row">
        <div class="col-md-9">
                <label class="chk">
                    <input class="checkbox" type="checkbox" value="">
                    <span class="checkmark"></span>I accept the Terms and Conditions
                </label>
        </div>
        <div class="col-md-3">
        <button class="sign" [routerLink]="['/']">Sign Up</button>
        </div>
        <div class="col-md-2">
        </div>
        </div>
        </div>
           
</div>
</div>
</div>