<div class="container-fluid register">
    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/home']"><img class="img" src="assets/img/logo2.png"></a>
        </div>
    <div class="col-md-6">
        <!-- <button class="log" [routerLink]="['/login']">Login</button>             -->
    </div>
</div>
<div class="box">
    <div class="gif" *ngIf="showthanks">
        <img src="../../../assets/img/e80652af2c77e3a73858e16b2ffe5f9a.gif">
        </div>
        <div class="thanks" *ngIf="showthankstext">
        <h5>Thank You for Joined the Waitlist</h5>
        <p>Our Client relationship executive will reach out to you and help you onboard with us</p>
        </div>
    <img class="logo"  src="assets/img/cloud logo.png" *ngIf="input">
    <div class="input" *ngIf="input">
         <!-- <select class="entity" name="Entity type" id="Entity Type">
       <option value="">Entity Type</option>
       <option value="Individual">Individual</option>
       <option value="Partnership">Partnership</option>
       <option value="Limited Liability Partnership">Limited Liability Partnership</option>
       <option value="Private Limited Company">Private Limited Company</option>
       <option value="Public Limited Company">Public Limited Company</option>
       <option value="Others">Others</option>
        </select>  -->
        <input class="email" type="text" [(ngModel)]="userdata.firstName" name="firstName" id="password"  placeholder="Name" required autocomplete='off'>
        <input class="email" type="text" [(ngModel)]="userdata.lastName" name="lastName" id="password"  placeholder="Surname" required autocomplete='off'>
        <input class="email" type="text" [(ngModel)]="userdata.company" name="company" placeholder="Company Name" required autocomplete='off'>
        <input class="email" type="email" id="email" [(ngModel)]="userdata.email" name="email" placeholder="E-mail" required autocomplete='off'>
        <input class="email" type="text" id="phone" [(ngModel)]="userdata.contactNo" name="contactNo" placeholder="Contact No." required autocomplete='off' maxlength="10" (keypress)="validateMobileNo($event)">
     </div>
        <div class="row" *ngIf="input">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
        <div class="row">
        <div class="col-md-9">
                <label class="chk">
                    <input class="checkbox" type="checkbox" value="">
                    <span class="checkmark"></span>I accept the Terms and Conditions
                </label>
        </div>
        <div class="col-md-3">
        <button class="sign" (click)="register()">Join Waitlist</button>
        </div>
        <div class="col-md-2">
        </div>
        </div>
        </div>

</div>

</div>
</div>
<footer>
    <h2 class="free">Only for first 1000 Users.</h2>
    </footer>
