<div class="container-fluid welcomeregister">
    <a [routerLink]="['/home']"><img class="img1" src="assets/img/logo2.png"></a>
    <div class="text">
        <h3 class="config">Hi, let's get you started!</h3>
        <p class="abc">We just need to verify a few details.Don't worry, we don't spam and keep your data encrypted.</p>
        </div>
        <div class="row">
            <div class="col-md-4">
              <label for="">Company Name</label>
              <input type="text">
            </div>
            <div class="col-md-4">
              <label for="">Country</label>
              <select name="" id="">
                <option value="">India</option>
                <option value="">China</option>
                <option value="">America</option>
                <option value="">Russia</option>
                <option value="">Japan</option>
              </select>
            </div>
            <div class="col-md-4">
                <label for="">State</label>
                <select name="" id="">
                  <option value="">Maharshtra</option>
                  <option value="">Rajasthan</option>
                  <option value="">Gujarat</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">City</label>
                <select name="" id="">
                  <option value="">Mumbai</option>
                  <option value="">Shanghai</option>
                  <option value="">NewYork</option>
                  <option value="">Tashken</option>
                  <option value="">Tokyo</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="">Pincode</label>
                <input type="text">
            </div>
            <div class="col-md-4">
                <label for="">PAN</label>
                <input type="text">
              </div>
              <div class="col-md-4">
                <label for="">Registered Address</label>
                <textarea name="" id="" cols="30" rows="10"></textarea>
              </div>
              <div class="col-md-4">
                <label for="">Website</label>
                <input type="text">
                <label for="">Company Email</label>
                <input type="text">
              </div>
              <div class="col-md-4">
                <label for="">Company Phone</label>
                <input type="text">  
                <label for="">GSTIN</label>
                <input type="text">
              </div>
            <div class="col-md-6">
                <button class="button1">Skip for now</button>
            </div>
            <div class="col-md-6">
                <button class="button2">I'm ready!</button>
            </div>
          </div>
</div>