<div class="container-fluid">
  <div class="header">
    <div class="row">
      <div class="col-md-3">
        <a [routerLink]="['/cloud']"><img class="img1" src="assets/img/logo2.png"></a>
      </div>
      <div class="col-md-6">
        <div class="menus text-center">
          <ul class="sky-head">
            <li class="">
              <a class="nav-item" routerLink="/" routerLinkActive="active" href="#cloud">Cloud</a>
            </li>
            <li class="">
              <a class="nav-item" href="#feature">Features</a>
            </li>
            <li class="">
              <a class="nav-item" href="#store">Store</a>
            </li>
            <li class="">
              <a class="nav-item" href="#id">Skyber ID</a>
            </li>
            <li class="">
              <a class="nav-item" href="#Testimonials">Testimonials</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 login">
        <button class="button" [routerLink]="['/login']">Login</button>
        <button class="btn" [routerLink]="['/registration']">Get Started</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" data-aos="fade-up" data-aos-duration="3000">
      <div class="heading">
        <h3 class="abc">The future of <span class="buss typer" id="main" data-words="business, automation,banking, you."
            data-delay="100" data-loop="1" data-deleteDelay="1000"></span>
          <span class="cursor" data-owner="main"></span></h3>
        <p class="simple">Simplify your procurements to payments processes<br> using our  unified new commerce platform.</p>
        <div class="input">
          <input class="email" type="email" id="email" name="email" placeholder="E-mail ID">
          <button class="button2" [routerLink]="['/']">Join the Waitlist</button>
        </div>
      </div>
    </div>
    <div class="col-md-6 text-right p-0" data-aos="fade-up" data-aos-duration="3000">
      <div class="all-images">
        <!-- <img src="https://open-frontend-bucket.s3.ap-south-1.amazonaws.com/static/images/grey_oval.png"
          class="oval-img"> -->
        <div class="shadow-img">
          <!-- <img src="https://open-frontend-bucket.s3.ap-south-1.amazonaws.com/static/images/middle.svg"
            class="middle-img"> -->
        </div>
        <img src="assets/img/Artboard2.png" class="back-img">
        <img class="cop" src="assets/img/computer.png">
      </div>
    </div>
  </div>
  <div class="cloud-laptop">
    <div class="row">
      <div class="col-md-12 section">
        <h2>cloud.</h2>
        <p>A simple end-to-end integrated solution to put your business on autopilot.</p>

        <div class="row adjust">
          <div class="col-md-2 col-sm-12 col-xs-12 text-center">
            <div class="box">
              <img class="image" src="assets/img/Image 3.png">
              <p>Sales</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 text-center">
            <div class="box">
              <img class="image" src="assets/img/Image 4.png">
              <p>CRM</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 text-center">
            <div class="box">
              <img class="image" src="assets/img/Image5.png">
              <p>Logistics</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 text-center">
            <div class="box">
              <img class="image" src="assets/img/Image 6.png">
              <p>Banking</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 text-center">
            <div class="box">
              <img class="image" src="assets/img/Image 7.png">
              <p>After Sales</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-12 col-xs-12 text-center">
            <div class="box">
              <img class="image" src="assets/img/Image 8.png">
              <p>Taxation</p>
            </div>
          </div>
        </div>

        <div class="row shade123">
          <div class="col-md-3">
            <!-- <img src="../../../assets/img/Rectangle.png"> -->
          </div>
          <div class="col-md-6 col-sm-6">
            <img class="mac" src="../../../assets/img/Macbook black.png">
          </div>
          <div class="col-md-3">
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div class="shade001">
  </div>
  <div class="row">
    <div class="rectangle">
      <img class="react" src=" ../../../assets/img/Rectangle.png">
    </div>
    <div class="col-md-12">
      <div class="feature" id="feature">
        <h2>Features</h2>
        <hr class="hr">
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5 text-right" data-aos="fade-up" data-aos-duration="3000">
          <div class="way">
            <h3 class="banky"><span class="hr1">Bank</span> the new way</h3>
            <p class="easy">Easily integrate your bank accounts and make vendor payments, utility payments or salaries.
              Easy multi-level hierarchy approvals all through one integrated system.</p>
          </div>
        </div>
        <div class="col-md-5 text-center" data-aos="fade-up"data-aos-duration="3000">
          <img class="freedom" src="../../../assets/img/Financial freedom@2x.png">
        </div>
        <div class="col-md-1">
          <div class="rectangle3">
            <img src="../../../assets/img/Rectangle 5.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5 text-center" data-aos="fade-up" data-aos-duration="3000">
      <img class="freedom" src="../../../assets/img/Startup@2x.png">
    </div>

    <div class="col-md-5 text-center" data-aos="fade-up" data-aos-duration="3000">
      <div class="way">
        <h3 class="banky"><span class="hr1">Manage</span> your sales pipeline</h3>
        <p class="easy">From enquiry to invoicing and everything in between, streamline and syncronize your sales
          pipeline using our end to end integrated system. Easy integration to E-Invoicing System.</p>
      </div>
    </div>
    <div class="col-md-1 change">
      <div class="rectangle2">
        <img src=" ../../../assets/img/Rectangle.png" class="react">
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <img class="abcd" src="../../../assets/img/Rectangle 5.png">
    </div>
    <div class="col-md-4 text-center" data-aos="fade-up" data-aos-duration="3000">
      <div class="way">
        <h3 class="banky"><span class="hr1">Third</span> Party Logistics Integration</h3>
        <p class="easy">Often send products out? Select from an array of integrated third party vendors to ship your
          product. Make E-way Bills and Delivery challans right from the dashboard.</p>
      </div>
    </div>
    <div class="col-md-6 text-center" data-aos="fade-up" data-aos-duration="3000">
      <img class="freedom" src="../../../assets/img/Group 35705.png">
    </div>
    <div class="col-md-1 text-left">
      <div class="rectangle2">
        <img class="react" src=" ../../../assets/img/Rectangle.png">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
     
    </div>
    <div class="col-md-5 text-center" data-aos="fade-up" data-aos-duration="3000">
      <img class="freedom" src="../../../assets/img/Stats with results@2x.png">
    </div>
    <div class="col-md-5 text-center" data-aos="fade-up" data-aos-duration="3000">
      <div class="way">
        <h3 class="banky"><span class="hr1">Keep</span> a check on warranties</h3>
        <p class="easy">Track your product warranties and ensure easy replacement and returns of products.</p>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
  <div class="rectangle">
    <img class="react" src=" ../../../assets/img/Rectangle.png">
  </div>
  <div class="row">
  <div class="col-md-1"></div>
    <div class="col-md-5 text-center" data-aos="fade-up" data-aos-duration="3000">
      <div class="way">
        <h3 class="banky"><span class="hr1">Taxation</span> and Accounting</h3>
        <p class="easy">Create GST Reports or easily integrate to Quickbooks or Tally. File taxes directly on GSTN
          portal via the platform.</p>
      </div>
    </div>
    <div class="col-md-5 text-center" data-aos="fade-up" data-aos-duration="3000">
      <img class="freedom" src="../../../assets/img/Analysis marketing data@2x.png">
    </div>
    <div class="col-md-1">
      <div class="rectangle2">
        <img class="react" src=" ../../../assets/img/Rectangle 5.png">
      </div>
    </div>
  </div>
  <div class="row" id="store">
    <div class="col-md-12 section2" data-aos="fade-up" data-aos-duration="3000">
      <h2>store.</h2>
      <p class="unique">Set unique price levels for your customer network using our online marketplace. </p>
    
  
  <div class="row">
    <div class="col-md-3 zero" data-aos="fade-up" data-aos-duration="3000">
      <div class="abcde">
        <h4>Get Online</h4>
        <p class="pera">List your products on Skyber’s Store and make your sale processes seamless. Get order details right on your
          dashboard. Also, easily procure for other vendors.</p>
        <h4>Zero Commission</h4>
        <p class="pera">Zero listing charges. Zero transaction charges. You go!</p>
      </div>
    </div>
    <div class="col-md-6 text-center" data-aos="fade-up" data-aos-duration="3000">
      <img class="group" src="../../../assets/img/Group 35699.png">
    </div>
    <div class="col-md-3 level" data-aos="fade-up" data-aos-duration="3000">
      <div class="audi">
        <h4>Unique Price Levels</h4>
        <p class="pera">Set unique price levels for consumers according to their category. They see the price you show them.</p>
        <h4>Integrated Logistics</h4>
        <p class="pera">Integrated logistics platform for you to fast-track deliveries.</p>
      </div>
    </div>
  </div>
</div>
</div>
  <div class="row" id="id">
    <div class="col-md-12 text-center">
      <h2 class="call">Skyber ID</h2>
      <hr class="hr">
      <p class="cell">Your business has a new address</p>
    </div>
  </div>
  <div class="row" style="height:568px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-4 text-center">
      <div class="text">
        <h3>One Platform, One ID</h3>
        <p>A 12 digit Alphanumeric distinctive and unique to you for defining entities on Skyber’s platform.</p>
        <h3>Faster Paced Transactions</h3>
        <p>Faster than ever transactions. Simply input receivers Skyber ID and fetch all transaction details in a jiffy
        </p>
        <h3>Synchronized Order Management</h3>
        <p>Connects two entities eternally and synchronises both systems for streamlined transaction flow and history.
        </p>
        <h3>Seamless Payments</h3>
        <p>Acts as a Virtual Transaction Address to ensure seamless payments and transactions to any entity on the click
          of a button.</p>
      </div>
    </div>
    <div class="col-md-7">
      <div class="man" data-aos="fade-up" data-aos-duration="3000">
        <img src="../../../assets/img/Group 35711.png">
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="companies" id="Testimonials">
    <div class="col-md-12">
      <h2>Companies who love us!</h2>
      <hr class="hr2">

      <div class="row brand">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="display: flex;padding: 0px;">
          <div class="box-flignite">
            <img src="../../../assets/img/Flignite-Logo-1536x267.png" alt="">
          </div>
          <div class="box-flignite">
            <img src="../../../assets/img/Flignite-Logo-1536x267.png" alt="">
          </div>
          <div class="box-flignite">
            <img src="../../../assets/img/Flignite-Logo-1536x267.png" alt="">
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row brand">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="display: flex;padding: 0px;">
          <div class="box-flignite">
            <img src="../../../assets/img/logo-01.png" alt="">
          </div>
          <div class="box-flignite">
            <img src="../../../assets/img/logo-01.png" alt="">
          </div>
          <div class="box-flignite">
            <img src="../../../assets/img/logo-01.png" alt="">
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row brand">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="display: flex;padding: 0px;">
          <div class="box-flignite">
            <img src="../../../assets/img/Screenshot 2020-03-02 at 20.42.46.png" alt="">
          </div>
          <div class="box-flignite">
            <img src="../../../assets/img/Screenshot 2020-03-02 at 20.42.46.png" alt="">
          </div>
          <div class="box-flignite">
            <img src="../../../assets/img/Screenshot 2020-03-02 at 20.42.46.png" alt="">
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="made">
            <h3> Made for businesses who thrive to grow. Register Now!</h3>
            <input class="business" type="email" id="email" name="email" placeholder="E-mail ID">
            <div class=wrapper>
              <button class="started">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="foot">
    <div class="row">
      <div class="col-md-6 foot-image">
        <img src="assets/img/logo2.png">
      </div>
      <div class="col-md-6">
        <img class="arrow" src="assets/img/arrow.png">
      </div>
      <div class="col-md-3 spirit">
        <p>We started with a simple idea and our love for the entrepreneurship spirit, businesses and the startup
          culture which has enabled us to build a platform for all of us to strive and grow on. We understand the
          problems each and every one of you face in your day-to-day business processes and aim to be an integral part
          of helping you solve them. We hope you use and like our platform. We love hearing from passionate people and
          we would love if you get in touch with us. Click here if you have any feedbacks or want to partner with us to
          build cool new things. Much love.</p>
      </div>
      <div class="col-md-6 footer-links">
        <div class="col-md-3 text-center dot">
          <div class="list">
            <h3 class="company">Company</h3>
            <ul>
              <li>Home</li>
              <li>About</li>
              <li>Demo</li>
              <li>Blog</li>
              <li>Privacy</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 text-center dot">
          <div class="list">
            <h3 class="company">Company</h3>
            <ul>
              <li>Skyber ID</li>
              <li>Partner</li>
              <li>Jobs</li>
              <li>Contact Us</li>
              <li>More</li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 text-center dot">
          <div class="list">
            <h3 class="company">Company</h3>
            <ul>
              <li>Skyber ID</li>
              <li>Partner</li>
              <li>Jobs</li>
              <li>Contact Us</li>
              <li>More</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="address">
          <p class="enter">Skyber Enterprises Private Limited</p>
          <address class="add">
            <p>F-510, Pinnacle Business Park,</p>
            <p>Mahakali Caves Road, Andheri (E),</p>
            <P>Mumbai - 400093, MH, IN.</P>
          </address>
          <div class="fas">
            <i class="fa fa-envelope-o"></i> <span class="info">info@skyber.cloud</span>
          </div>
          <div class="like">
            <p>Like what we do? Stay updated!</p>
          </div>
          <div class="foot-input">
            <input class="foot-email" type="email" id="email" name="email" placeholder="E-mail ID">
            <button class="foot-button"><span><i class="fa fa-paper-plane"></i></span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-icons">
      <div class="icons">
        <i class="fa fa-instagram fa-1x"></i>
      </div>
      <div class="icons">
        <i class="fa fa-facebook fa-1x"></i>
      </div>
      <div class="icons">
        <i class="fa fa-twitter fa-1x"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <hr class="hesh">
      </div>
      <div class="col-md-6 text-center">
        <small class="copyright">&copy; Copyright 2020 Made with <span class="heart"><i
              class="fa fa-heart font fa-1x"></i></span>by Skyber All Rights Reserved. | Privacy Policy</small>
      </div>
      <div class="col-md-3">
        <hr class="hesh">
      </div>
    </div>
  </div>
</div>
