.all-images{
    position: relative;
    height:80vh;
}
.oval-img{
    position: absolute;
    top: -7px;
    z-index: -1;
    right: -60px;
    bottom: 0;
    width: 700px;
}
.shadow-img{
    position: absolute;
}
.middle-img{
    position: relative;
    top: 10px;
    left: 93px;
    height: 506px;
    width: 100%;
    animation: floating 6s ease-in-out infinite;
}
.back-img{
    position: absolute;
    top: 17px;
    right: -80px;
    height: 538px;
    width: 77%;
    animation: floating 4s ease-in-out infinite;
}
.cop{
    position: inherit;
    z-index: 11;
    top:35px;
}


/* Key Frames */

    @keyframes floating{
        0%{
            transform: scale(1);
        }
        50%{
            transform: scale(1.1);
        }
        100%{
            transform: scale(1);
        }
    }

  .img1{
      width: 135px;
      margin-top: 5px;
  }
  .menus{
    white-space: nowrap;
  }	
  .sky-head{
    list-style: none;
    padding :0;
    margin:0;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top:20%;
    left:28%;
  }
  .sky-head a{
      padding: 15px 15px 0px 0px!important;
      color: #000!important;
      text-decoration: none;
      background-color: transparent;
      font-size: 16px;
      font-family: saira, sans-serif;
      display:inline-block;
      padding:10px;
      text-decoration: none !important;
      font-weight: 800;
      margin-left:20px;
      margin-right:20px;
      outline: none;
  }
  .navbar-toggler{
    border:none;
  }

  .sky-head li{
    display:inline;
}
  .login{
      display: flex;
      align-items: center;
      justify-content:flex-end;
      text-align: right;
  }
  .active:hover{
      color: #FD9E00!important;
      border-bottom: 1px solid #FD9E00;
  }
  .abc{
      font-size:55px;
      font-family: saira, sans-serif;
      font-weight:bolder;
      white-space: nowrap;
  }
  .buss{
      color:#FD9E00!important;
      font-weight: bold;
  }
  .button{
      background-color: #FD9E00;
      color:white;
      width:115px;
      border-radius: 30px;
      border:#FD9E00;
      height:30px;
      outline-style: none;
      font-weight:bold;
      font-family: Saira, sans-serif;
      font-size: 14px;
  }
  .btn{
    background-color: #FD9E00;
    color:white;
    width:115px;
    border-radius: 30px;
    border:#FD9E00;
    height: 30px;
    outline-style: none;
    font-weight:bold;
    font-family: Saira, sans-serif;
    margin: 10px;
    font-size: 14px;
}
.section{
    background-image:url('../../../assets/img/Path 53772.png');
    min-height: 360px;
    background-repeat: no-repeat;
    background-position-x: -130px;
}
.section h2{
    font-size: 36px;
    color:white;
    font-weight: bold; 
    font-family: gilroy, sans-serif;
    margin:95px 20px 0px;
}
.section p{
    font-size: 20px;
    color:#000;
    font-family: saira, sans-serif;
    font-weight: 600;
    margin:0px 20px;
}
  .free{
      font-weight: bold;
      color:black;
  }
  .simple{
    color: orange;
    font-size: 20px;
    word-break: break-word;
    white-space: nowrap;
    word-wrap: normal;
    font-family: Saira, sans-serif;
    font-weight: 700;
 
  }
  
  .heading{
      top:20%;
      left:2%;
      position: relative;
  }
  .email{
      border-radius: 10px 0 0 10px;
      border:1px solid #FD9E00;
      width: 40%;
      height: 40px;
      outline-style: none;
      padding:10px;
      font-size: 14px;
      font-family:Saira, sans-serif;
  }
  .button2{

      width:18%;
      height: 40px;
      border:none;
      color:white;
      background-color: #FD9E00;
      border-radius: 0px 10px 10px 0px;
      outline-style: none;
      position: relative;
      font-size: 14px;
      font-family:saira,sans-serif;
      font-weight: bold;
      white-space: nowrap;
      position: relative;
      bottom: 1px;
      
  }
  .cop{
    width: 95%;
    text-align: right;
    margin-bottom: 20px;
    height: 470px;
  }
  .abs{
      height: 500px;
      display: flex;
      justify-content: center;
      width: 90%;
      background:#fff;
      -webkit-border-radius:10px;
      border-radius:10px;
      border: 1px solid #fff;
      box-shadow: 0px 0px 10px 0px #888888;
      text-align: center;
      align-items: center;
      margin: 12% auto 80px auto;
  }
  .btn4{
      width: 25%!important;
  }
  .button3{
      margin-left: auto;
      margin-right: auto;
      display: block;
      outline-style: none;   
  }
  .audi{
     margin-bottom:15px;
  }

  .p1{
      text-align: center;
      font-size: 26px;
      font-weight: bold;
  }
  .button3{
      background: #FD9E00;
      border:0px;
      width:12%;
      border-radius: 20px;
      height: 35px;
      color: #fff;
      font-size: 14px;
      outline-style: none;
      
  }
  .heads{
      text-align: center;
  }
  .box1{
  
       margin:0 auto;
       min-height:220px;
       width: 220px;
       background:#fff;
       -webkit-border-radius:10px;
       border-radius:10px;
       box-shadow: 8px 4px 10px 0px #6666666b!important;
       margin-bottom: 60px;
       position: relative;
       transition: transform .2s;
  
  
  }
  .box1:hover{
    border: 1px solid #cecece;
    cursor: pointer;
    transform:scale(1.1);
    
  }
  .box2:hover{
    border: 1px solid #cecece;
    cursor: pointer;
    transform:scale(1.1);
  }
  .path{
      background-image:url("src/assets/img/shade2.png");
       background-repeat: no-repeat;
       background-size: 70%;
  } 	
  .invoice{
      text-align: center;
      font-size: 20px;
      margin-top: 30%;	
  }
  .gst{
  text-align: center;
  font-size: 16px;
  color: #878B8B;
  }
  .search{
      width:15%;
      margin:30px 0px 0px 25px;
  
  }
  .account{
      text-align: center;
      margin-top: 30px;
      font-size: 20px;
  }
  .payment{
      background-image:url("src/assets/img/Path.png");
      background-repeat: no-repeat;
      background-size: 80%;
  }
  .icon{
      margin:0px 0px 0px 25px;
      width: 15%;
      position: absolute;
      top: 20%;
        left: 10px;
  }
  .gate{
      position: absolute;
      top: 43%;
      text-align: center;
      font-size: 20px;
       
  }
  .store{
      text-align: center;
      position: absolute;
      top:45%;
      left:25%;
      font-size: 20px;
  }
  
  .shade{
      background-image:url("src/assets/img/shade.png");
      background-repeat: no-repeat;
      background-size: 42%;
  }
  .icon1{
      width:15%;
      margin: 45px;
  }
  .bank{
      
        text-align: center;
        font-size: 20px;
  }
  .shade3{
      background-image:url("src/assets/img/shade3.png");
      background-repeat: no-repeat;
      background-size: 100%;
  }
  .icon3{
      width: 15%;
      margin:45px 30px;
  
  }
  .manage{
      text-align: center;
      font-size: 20px;
  
  }
  .tpl{
      text-align: center;
      font-size: 20px;
  }
  .skyber{
      min-height: 400px;
  }
  .sky{
      text-align: center;
      color: #FD9E00;
  }
  .bus{
      font-size: 24px;
      text-align: center;
  }
  .comp{
      text-align: center;
      font-size: 30px;
      font-weight: 900;
      margin-bottom: 30px;
  
  }
  .box3{
      margin:0 auto;
       min-height:600px;
       width: 350px;
       background:#fff;
       -webkit-border-radius:10px;
       border-radius:10px;
       border: 1px solid #fff;
       box-shadow: 0px 0px 15px 0px #888888;
       margin-bottom:500px;
       position: relative;
  }
  .shading{
      width: 30%;
      position: absolute;
      bottom: -40px;
      right: -40px;
  
  }
  .box4{
       min-height:450px;
       width: 85%;
       background:#FFD19A;
       -webkit-border-radius:10px;
       border-radius:10px;
       border: 1px solid #FFD19A;
       box-shadow: 0px 0px 15px 0px #888888;
       margin:0 auto;
       margin-bottom: 100px;
  
  }
  .register{
      text-align: center;
      padding-top: 15%;
  }
  .middle{
      margin: 0 auto;
      display: block;
      width: 30%;
      border-radius: 10px;
      border:white;
      height: 40px;
      padding: 15px;
      color:grey;
      outline-style: none;
      
  }
  .button4{
      width:145px;
      height: 50px;
      color:#FD9E00;
      background-color: white;
      border-radius: 30px;
      display: block;
      margin: 0 auto;
      border: white;
      outline-style: none;    
  }
  .real{
      margin:10px;
  }
  .footer-menus a{
  color:#FD9E00 !important;
  }
  .footer-icons{
      word-spacing: 2px;
      text-align: center;
  }
  .icons{
      display: inline-block;
      height: 30px;
      width: 30px;
      border: 2px solid #FD9E00;
      border-radius: 50%;
      margin: 15px 2px;
      line-height: 25px;
      color:#FD9E00;
  }
  .font{
      color: red!important;
  }
  .heart{
      padding: 3px;
  }
  .cloud{
      width:26%;
  }
  .dot li{
      color: #FD9E00;
      list-style: none;
      margin: 0px;
      padding:8px 0px;
      font-size: 15px;
      white-space: nowrap;
      font-family: Saira,sans-serif;   
  }
  
  .enter{
    font-size: 18px;
    white-space: nowrap;
    font-family: Saira, sans-serif;
    margin: 25px 10px;
    font-weight: bold;
  }
  .add{
      font-size: 14px;
      text-align: right;
      font-family: Saira,sans-serif;
      line-height: 10px;
  }
  .address{
      padding-right: 15px;
  }
  .shads{
      /* background: url('../../../assets/img/Shape18.png') fixed no-repeat; */
      background: url('../../../assets/img/Login.png') fixed no-repeat;
      background-size: cover;
      height: 50vh;
      background-position: right;
      background-position-y: top;
  }
  .box{
    width:125px;
    border-radius:30px;
    background: #fff;
    box-shadow: 0px 1px 1px 0px lightgrey;
    margin-top: 10px;
    padding:5px;
    height:125px;
    align-items: center;
    justify-content: center;
    transition: 1s;
    cursor: pointer;
}
.box:hover{
    transform:scale(1.2);
}
.box p{
    margin-bottom: 0px;
    margin-top: 10px;
}
.image{
    padding:5px;
    width: 75px;
   }
.adjust{
    margin:5px 90px;
}
.adjust p{
    font-size: 15px;
    white-space: nowrap;
    font-family: Saira,sans-serif;
    font-weight:700;
    text-align: center;
} 
.sale{
    font-size: 14px;
}
.mac{
    position: relative;
    bottom: 10px;
    width:850px;
    margin: 1px auto;
    white-space: nowrap;
}
.shade123{
    background-image: url('../../../assets/img/Shape 865.png');
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
}
.shade345 img{
   
    position: relative;
    bottom: 70px;
    right: 35px;
    width: 122px;
}

.shade345{
    height: 70%;
}
.feature h2{
    text-align: center;
    /* margin: 35px 0px 0px 0px; */
    font-family: Saira, sans-serif;
    font-weight:600;
}
.hr{
    width: 70px;
    background:#FD9E00;
    height: 2px;
    margin-top: 5px;
}
.hr1{
    border-bottom:3px solid lightgray;
    padding-bottom: 5px;
}
.freedom{
    width: 75%;
    position: relative;
    z-index: 11111111;
}
.way{
    top: 30%;
    position: relative;
    padding: 0px 0px 0px 50px;
}
.banky{
    text-align: left;
    color:#FD9E00;
    font-size: 22px;
    font-family: Saira,sans-serif;
    font-weight: 700;
    white-space: nowrap;
}
.easy{
    text-align: left;
    margin-top: 20px;
    font-size: 16px;
    font-family:Saira,sans-serif;
    font-weight: 500;
}
.shade001{
    position: absolute;
    z-index: 999999;
}
.pqr{
width: 100%;
}
.rectangle{
   
    width: 54px;
    height: 30px;
}
.react{
    width: 70px;
}
.shade3456 img{
    position: relative;
    left: 12px;
    width: 100px;
    height: 300px;
}

.rectangle2{
   
    width: 54px;
    height: 30px;
   float: left;
   position: relative;
    top: 50%;
    right: 50%;
}
.react{
    width: 70px;
    position: relative;
    left: 50px;
    top: 50px;
}
.rectangle3 img{
    width: 70px;
    position: relative;
    right: 30px;
}
.abcd{
    width: 70px;
    position: relative;
    left:40px;
    top: 50px;
}
.elipse{
    width:70px;
}
.rect{
    position: relative;
    width: 100px;
    height: 300px;
    right: 20px;
    bottom:95px;
}
.section2{
    background-image:url('../../../assets/img/store.png');
    background-size: 100%;
    min-height: 390px;
    background-repeat: no-repeat;
}
.section2 h2{
    font-size: 36px;
    color:white;
    font-weight: bold; 
    font-family: gilroy, sans-serif;
    margin:125px 15px 0px;
    text-align: right;
}
.unique{
    font-size: 20px;
    color:#000;
    font-family: Saira, sans-serif;
    font-weight:600;
    text-align: right;
    padding: 0px 15px;
}
.shade100 img{
    position: absolute;
    width: 120px;
    height: 340px;
    right:10px;
    top:40%;
}
.zero h4{
    font-size: 20px;
    color:#fff;
    font-family: Saira, sans-serif;
    font-weight:600;
}
.zero p{
    font-size: 16px;
    font-family: Saira,sans-serif;
    font-weight:600;
}
.zero{
   display: flex;
   align-items: center;
   padding-left: 25px;
}
.group{
    width: 95%;
    position: relative;
    bottom: 10px;
}
.level p{
    font-size: 16px;
      font-family: Saira,sans-serif;
    font-weight:600;
}
.pera{
    text-align: left;
}
.level h4{
    font-size: 20px;
    color:#fff;
    font-family: Saira, sans-serif;
    font-weight:600;
}
.level{
    display: flex;
    align-items: center;
}
.bmw h2{
    font-size:22px;
    text-align: center;
    color: #FD9E00;
    margin-top: 35px;
    font-family: Saira, sans-serif;
    font-weight:600;
}
.bmw p{
    font-size: 20px;
    text-align: center;
    font-family: Saira, sans-serif;
    font-weight:500;
}
.neno img{
    width:450px;
}
.call{
    margin-top: 30px;
    font-size: 24px;
   color:#FD9E00;
   font-family: Saira,sans-serif;
   font-weight:800;
}
.cell{
    font-size: 16px;
    font-family: saira, sans-serif;
    font-weight:500;
}
.zzz img{
 position: relative;
 right: 21%;
 width: 150px;
 top:50px;
}
.text h3{
    color:#FD9E00;
    font-size: 20px;
    font-family: Saira,sans-serif;
    font-weight:600;
}
.text p{
    font-size: 16px;
    font-family: Saira,sans-serif;
    font-weight:400;
}
.text{
    margin: 30px 0px 0px 0px;
    text-align: left;
}
.man img{
    width: 755px;
    margin-left: 15px;
    position: relative;
    height: 720px;
    bottom: 120px;
}
.companies{
    background-image: url('../../../assets/img/Rocket Background.png');
     background-size:cover;
    min-height:1140px;
    background-repeat: no-repeat; 
    width:100%;
    
}
.change{
    position: relative;
    top:-90px;
}
.companies h2{
    color:#fff;
    text-align: center;
    padding-top: 45px;
    font-family: Saira,sans-serif;
    font-weight:600;
}
.hr2{
    width: 70px;
    background:#fff;
    height: 2px;
    margin-bottom: 35px;
}
.box-flignite{
    background: #fff;
    margin: 0px 18px;
    width: 271px;
    height: 140px;
    border-radius: 15px;
    
}
.box-flignite img{
    position: relative;
    top: 30%;
    left: 15%;
    width: 75%;
}
.brand{

  margin-top:30px;
}
.made{
    background: #fff;
    width: 500px;
    height: 280px;
    border-radius: 20px;
    float: right;
    margin: 60px 0px 0px;
}
.made h3{
    text-align: center;
    font-size:23px;
    margin-top:30px;
    font-family: Saira,sans-serif;
}
.business{
    border-radius:15px;
    border:1px solid #FD9E00;
    width: 85%;
    height: 40px;
    outline-style: none;
    padding:5px;
    font-size: 14px;
    font-family: Saira,sans-serif;
    margin: 15px 35px;
    background-color:#FD9E00;
    padding:0px 20px;
    
}
.business::placeholder{
    color: #fff;
    font-family: Saira,sans-serif;
    font-weight: 400;
}
.wrapper{
    text-align: center;
}

.started{
  background-color:#FD9E00;
  width: 28%;
  height: 35px;
  color: #fff;
  font-weight: 600;
  border: 1px solid #FD9E00;
  border-radius: 30px;
}
.company{
    font-family: Saira,sans-serif;
    font-weight:600;
    font-size: 18px;
}
.list ul{
    padding-left: 0px;
}
.footer-links{
    display: flex;
    justify-content: center;
}
.fas{
text-align: right;
margin-bottom: 7px;
font-weight:bold;
}
.info{
    margin:0px 5px 0px 10px;
    font-size: 18px;
    font-family: Saira, sans-serif;
    font-weight:300;
}
.fas .fa{
    font-size: 22px;
}
.arrow {
    float: right;
    width:40px;
    position: fixed;
  bottom: 61%;
  right: 30px;
  z-index: 99;
  outline: none;
}
.pho{
    text-align: right;
    margin-bottom: 10px;
}
.phone{
    margin:0px 15px 0px 12px;
    font-size: 18px;
    font-family:Saira, sans-serif;
    font-weight:300;
}
.pho .fa{
    font-size: 24px;
}
.like p{
 text-align: right;
 font-size: 18px;  
 font-family:Saira,sans-serif;
 font-weight:600; 
}
.foot-input{
    margin-left: 10px;
}
.foot-email{
    border-radius: 20px 0 0 20px;
    border:1px solid #cecece;
    width: 85%;
    height: 40px;
    outline-style: none;
    padding-left:20px;
    font-size: 12px;   
}
.foot-button{
    width: 15%;
    height: 40px;
    border:none;
    color:white;
    background-color:#FD9E00;
    border-radius: 0px 20px 20px 0px;
    outline-style: none;
    padding-left: 0px;
    position: relative;
    top: 1px;
}
.hesh{
    border:1px solid #FD9E00;
}
.copyright{
    font-size: 16px;
    font-family:Saira,sans-serif; 
    font-weight:400;
}
.spirit p{
    font-family:Saira,sans-serif;
    font-size: 15px;
    text-align: justify;
    padding-left: 15px;
}
.foot-image img{
width:150px;
margin: 0px 15px;
}
@media only screen and (max-width: 1920px) {
   .btn{
       font-size:14px;
   }
.button2{
    width:18%;
 
}
    .section{
        background-position-x:-85px!important;
        bottom:5px;
    }  
    .cop{
        height:800px;
    }
.all-images{
    height:86vh;
}
.back-img{
    top:27px;
    height:815px;
}
.simple{
    font-size: 24px;
}
.abc{
    font-size: 86px;
}
    .mac{
        width: 1260px;
        margin-bottom: 1px;
    }
.man img{
    width: 755px;
    bottom:125px;
    left:31%;
    height:700px;
}
.companies{
    min-height: 1625px;
}
.enter{
    margin: 30px 0px 10px 34%;
}
.arrow{
    bottom:35%;
}
.box-flignite{
    width: 370px;
    height: 200px;
}
.made{
    width: 600px;
    height: 285px;
}
.group{
    width:95%;
}
.email{
    border-radius: 10px 0 0 10px;
    border: 1px solid #FD9E00;
    width: 40%;
    height: 40px;
    outline-style: none;
}
.adjust{
    margin:5px 90px;
  }
  .box:hover{
    transform:scale(1.2);
}
.box{
    margin-top: 10px;
}
.freedom{
    margin-top:0px;
}
}
@media only screen and (max-width: 1440px){
    .btn{
        font-size:14px;
    }
    .button2{
        width:18%;
    }
    .section{
        background-position-x:-85px!important;
        bottom:5px;
    }
.arrow{
    bottom:45%;
}
.all-images{
    height:85vh;
}
.cop{
    height:600px;
}
.back-img{
    top: 35px;
    height: 630px;
}
.simple{
    font-size: 20px;
}
.abc{
    font-size:60px;
}
.mac{
    width:800px;
    }
.man img{
    width: 710px;
    left: 13%;
    bottom: 126px;
    height: 705px;
}
.companies{
    min-height: 1225px;
}
.enter{
   margin:25px 10px 10px 30px;
}
.box-flignite{
    width: 271px;
    height: 140px;
}
.made{
    width: 500px;
    height: 280px;
}
.group{
    width:95%;
}
.email{
    border-radius: 10px 0 0 10px;
    border: 1px solid #FD9E00;
    width: 40%;
    height: 40px;
    outline-style: none;
}
.adjust{
    margin:5px 90px;
}
.box:hover{
    transform:scale(1.2);
}
.box{
    margin-top: 10px;
}
.freedom{
    margin-top:0px;
}
}
@media only screen and (max-width: 1370px){
    .btn{
        font-size:14px;
    }
    .section{
        background-position-x:-85px!important;
        bottom:30px;
    }
    .abc{
        font-size: 60px;
    }
 .button2{
   width:18%;
 }
    .cop{
    height:470px;
    width:630px;
}    
.back-img{
    top: 35px;
    height: 480px;
}
.all-images{
    height:81vh;
}
.companies{
    min-height: 1165px;
}
.arrow{
    bottom:61%;
}
.mac{
    width:800px;
    }
    .group{
        width:95%;
    }
    .made{
        width: 500px;
        height: 280px;
    }
    .man img{
        width: 725px;
        left: 7%;
        height: 705px;
        bottom: 127px;
    }
    .enter{
        margin: 25px 0px 10px 10px;
}
.email{
    border-radius: 10px 0 0 10px;
    border: 1px solid #FD9E00;
    width: 40%;
    height: 40px;
    outline-style: none;
}
.adjust{
    margin:5px 90px;
}
.box:hover{
    transform:scale(1.2);
}
.box{
    margin-top: 10px;
}
.freedom{
    margin-top:0px;
}
}
@media only screen and (max-width: 1280px){
    .btn{
        font-size:14px;
    }
    .section{
        background-position-x:-85px!important;
        bottom:5px;
    }
    .all-images{
        height:88vh;
    }
    .cop{
    height: 730px;
    width: 690px;
    }
    .back-img{
        top: 35px;
        height: 760px;
    }
.man img{
    width: 768px;
    left: 0%;
    bottom: 145px;
    height: 733px;
}
.companies{
    min-height: 1090px;
}
.arrow{
    bottom:42%;
}
.mac{
    width:800px;
    }
    .group{
        width:95%;
    }
    .made{
        width: 500px;
        height: 280px;
    }
  .enter{
        margin: 25px 0px 10px 0px;
}
.email{
    border-radius: 10px 0 0 10px;
    border: 1px solid #FD9E00;
    width: 40%;
    height: 40px;
    outline-style: none;
}
.adjust{
    margin:5px 90px;
}
.box:hover{
    transform:scale(1.2);
}
.box{
    margin-top: 10px;
}
.freedom{
    margin-top:0px;
}
}
@media only screen and (max-width: 1080px){
    .btn{
        font-size:13px;
    }
.button2{
    width:22%;
    bottom: 0px;
}
.cop{
    
    height: 500px;
    width: 500px;
}
.all-images{
    height:85vh;
}
.back-img{
    top: 30px;
    height: 510px;
}
.mac{
    width:660px;
    }
    .group{
        width:85%;
    }
    .man img{
    width: 700px;
    left: 0%;
    bottom: 145px;
    height: 745px;
    }
    .made{
        width: 370px;
        height: 215px;
        margin-top: 10px;
    }
    .arrow{
        bottom:75%;
    }
    .companies{
        min-height: 950px;
    }
   .enter{
     margin:25px 0px 10px 0px;
     font-size: 14px;
   } 
   .email{
    border-radius: 10px 0 0 10px;
    border: 1px solid #FD9E00;
    width: 40%;
    height: 40px;
    outline-style: none;
   }
   .adjust{
    margin:5px 90px;
   }
   .box{
    margin-top: 10px;
   }
   .freedom{
    margin-top:0px;
}
}
@media only screen and (max-width:500px){
.abc{
    margin-top: 30px;
    font-size: 35px;
    text-align: center;
}
.simple{
    font-size: 15px;
    text-align: center;
}
.email{
    border-radius: 10px;
    border: 1px solid #FD9E00;
    width: 80%;
    height: 50px;
    outline-style: none;
    text-align: center;
    margin-left:25px;
    font-size:18px;
}
.button2{
    position: relative;
    margin: 10px;
    left: 27%;
    width: 35%;
    height:45px;
    border-radius: 5px;
    font-size: 16px;
}
.back-img{
    top:10%;
    left:35%;
    height:440px;
}
.cop{
    width:400px;
    height:430px;
    top:10%;
}
.section{
    bottom:130px;
}
.adjust{
   margin:20px;
}
.box{
    margin:30px 0px 0px 15px;
}
.box:hover{
    transform:scale(1.2);
}
.mac{
   margin:30px 0px 0px 0px;
   width:620px;
}
.freedom{
    margin-top:50px;
}
.section2{
background-image: url("../../../assets/img/Path53773.png");
    background-size: 880px;
    background-position-x: -70px;
    background-position-y: -70px;
    margin-top: 20px;
}
.section2 h2{
    text-align: left;
    margin:30px 0px 15px 15px;
    font-size: 46px;
}
.unique{
    text-align: left;
    font-size: 20px;
}
.group{
}
.call{
    font-size: 24px;
}
.text h3{
    text-align: center;
    font-size: 24px;
}
.text p{
    font-size: 18px;
}
.man img{
    left:-90px;
    width:580px;
    height:580px;
    bottom: 35px;
}
.companies{
background-image:url("../../../assets/img/Rocket bg mobile.png");
position: relative;
top:445px;
min-height:1285px;
background-position-x:-75px;
}
.box-flignite{
    max-width: 150px;
    height:120px;
}
.box-flignite img{
    left: 5%;
    width: 90%;
}
.made{
    width:430px;
    height:215px;
    margin:45px 20px 0px 0px;
    border-radius:70px;
}
.made h3{
    font-size:20px;
    font-weight:bold;
}
.business{
    font-size:18px;
}
.started{
    font-size: 18px;
    width: 30%;
    height: 40px;
}
.foot{
    position: relative;
    top:375px;
}
.enter{
    font-size:18px;
    text-align: right;
}
.add{
    font-size: 16px;
}
.foot-email{
    width: 50%;
    position: relative;
    left: 35%;
}
.foot-button{
    left:35%;
}
.like p{
    font-size:20px;
}
.sky-head{
text-align: center;
position: relative;
left:0px;
}
.login{
    justify-content:center;
}
#first{
    order:1;
}
#second{
    order:2;
}
.way{
    top:0px;
}
#third{
    order:1;
}
#forth{
    order:2;
}
.audi{
    margin-left: 10px;
}
#mb{
    order:3;
}
#cid{
    order:2;
}
#up{
    order:1;
}
.add{
    text-align: left;
    margin-left: 15px;
}
.enter{
    text-align: left;
    margin-left: 15px;
}
.fas{
    text-align: left;
    margin-left: 15px;
}
.like p{
    text-align: center;
    margin: 20px;
}
.foot-input{
    margin:20px 0px 40px 0px;
}
.foot-email{
    left:20px;
    width:80%;
}
.foot-button{
    left:20px;
}
.email{
    text-align: left;
}
}
@media only screen and (max-width: 480px){
.mac{
    width:580px;
}
.cop{
    width: 460px;
    height: 430px;
    top: 10%;
}
.man img{
    width: 530px;
    height: 530px;
}
.box-flignite{
    max-width:170px;
}
.made{
    width: 370px;
    margin:45px 10px 0px 0px;
}
.made h3{
    font-size: 17px;
}
.companies{
    min-height:1300px;
    background-position-x:-110px;   
}
.email{
    text-align: center;
    font-size: 16px;
}
}
@media only screen and (max-width:420px){
.cop{
    width: 400px;
    height: 360px;
    top: 10%;
}
.abc{
    font-size:28px;
    text-align: center;
}
.simple{
    font-size: 14px;
    text-align: center;
}
.button2{
    width:37%;
}
.back-img{
    height: 360px;
    top: 10%;
}
.mac{
    width:480px;
}
.way{
 right:20px;   
}
.man img{
    width:470px;
    max-height:455px;
    bottom:0px;
}
.companies h2{
    font-size:26px;
}
.box-flignite{
    min-width:90px;
    height:100px;
}
.made{
    margin: 45px 10px 0px 0px;
    width: 350px;
    height: 220px;
}
.started{
    width:32%;
}
.box{
    margin:30px 0px 0px 0px;
}
.react img{
    width:40px;
}
.rectangle img{
    width:40px;
}
.rectangle3 img{
    width: 40px;
}
.rectangle2 img{
    width: 40px;
}
.abcd{
    width:40px;
}
.unique{
    font-size: 16px;
}
.text h3{
    font-size:20px;
}
.text p{
    text-align: center;
}
.email{
    text-align: center;
    font-size: 16px;
}
.button2{
    font-size:15px;
}
}
@media only screen and (max-width:360px){
    .cop{
        top:10%;
        height:280px;
    }
.back-img{
    height: 280px;
    top: 60px;
    left: 40%;
}
.unique{
    font-size: 16px;
}
.adjust{
   margin:20px 0px 0px 0px;
}
.mac{
    width: 445px;
}
.man img{
    width:470px;
    max-height: 430px;
    bottom:0px;
}
.box-flignite{
    min-width:85px;
    height:85px;
}
.made{
    margin:45px 0px 0px 0px;
    width: 330px;
    height:210px;
}
.made h3{
    font-size: 16px;
}
.started{
    width:35%;
}
.companies{
    min-height: 1160px;
}
.like p{
    font-size: 18px;
}
.banky{
    font-size:20px;
}
.text h3{
    font-size: 20px;
}
.text p{
    font-size: 18px;
}
.react img{
    width:40px;
}
.rectangle img{
    width:40px;
}
.rectangle3 img{
    width: 40px;
}
.rectangle2 img{
    width: 40px;
}
.abcd{
    width:40px;
}
.email{
    text-align: center;
}
.button2{
    font-size: 16px;
}
}
@media only screen and (max-width:320px){
.abc{
    font-size: 24px;
    text-align: center;
}
.email{
    height:40px;
    font-size: 15px;
    text-align: center;
}
.simple{
    font-size: 12px;
    text-align: center;
}
.button2{
    width: 43%;
    height: 40px;
    left:24%;
    font-size: 16px;
}
.cop{
    height:250px;
    top:12%;
}
.back-img{
    height: 260px;
    top: 55px;
    left: 45%;
}
.section p{
    font-size: 13px;
}
.easy{
    font-size: 13px;
}
.banky{
    font-size: 16px;
}
.unique{
    font-size: 14px;
}
.zero p{
    font-size: 14px;
}
.text p{
    font-size: 14px;
    text-align: center;
}
.text h3{
    font-size: 16px;
}
.companies{
    top:290px;
}
.adjust{
    margin:15px 0px 0px 0px;
}
.box{
    margin:30px 0px 0px 0px;
}
.mac{
    width:400px;
}
.man img{
    width: 420px;
    max-height: 420px;
}
.box-flignite{
    min-width:70px;
    height:70px;
}
.made{
    margin: 30px 0px 0px 0px;
    width: 295px;
    height: 200px;
}
.made h3{
    font-size: 14px;
}
.started{
    width: 40%;
    font-size: 16px;
}
.business{
    margin: 15px 25px;
    height:35px;
}
.like p{
    font-size: 16px;
}
.enter{
    font-size: 16px;
}
.company{
    font-size: 16px;
}
.copyright{
    font-size: 14px;
}
.section{
    bottom:90px;
}
.react img{
    width:40px;
}
.rectangle img{
    width:40px;
}
.rectangle3 img{
    width: 40px;
}
.rectangle2 img{
    width: 40px;
}
.abcd{
    width:40px;
}
.section2 h2{
    font-size: 36px;
}
}
