body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   width: 100%;
  }
.login{
	height: 100vh;
	background-image: url("../../../assets/img/login.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
}
.regi{
	
	margin:15px 10px;
	height: 30px;
	color:black;
    background: white;
    float:right;
    border: white;
    border-radius: 30px;
    width: 120px;
    font-size: 14px;
    outline-style: none;
    font-family: saira, sans-serif;
    font-weight: bold;
    outline:none !important;

}
.img1{
	width: 135px;
    margin-top: 10px;
    margin-left: 15px;
}
.box{
    height: 295px;
	width: 45%;
    background:#fff;
    border-radius:100px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 4px 0px #888888;
	text-align: center;
	align-items: center;
	margin: 12% auto 80px auto;
}
.logo{
    width: 22%;
    margin: 20px 0px 0px 0px;
}
.email{
    border-radius: 10px;
	border:1px solid #fff;
	width: 70%;
    height: 40px;
    margin: 15px;
    box-shadow: 1px 2px 5px 2px lightgrey;
    padding: 15px;
    outline-style: none;
    font-family: saira, sans-serif;
    font-size: 14px;     
}
.log{
    width:108px;
    border-radius: 25px;
    color:white;
    background-color: #FD9E00;
    border: 1px solid #FD9E00;
    font-weight: 700;
    height: 30px;
    outline-style: none;
    font-family:saira, sans-serif;
      
}
.cloud{
    margin-top: 5px;
    white-space: nowrap;
    font-size: 13px;
    font-family: saira,sans-serif;   
}
.click{
    color:#FD9E00;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #FD9E00;
}
.click:hover{
    color:orange;
}
.free{
    color:white;
    position: absolute;
    bottom: 2%;
    right: 15px;
    font-size: 46px;
    font-weight: 300;
    font-family:saira,sans-serif;
}
.lefty{
    text-align: left;
}
@media  screen and (max-width: 1920px){
    .free{
    right: 15px;
    bottom:2%;
    font-size:70px;
}
.login{
    background-size: 100%;
}
.box{
    height: 310px;
    width: 35%;
}
    }

@media only screen and (max-width: 1440px){
.free{
    bottom: 20px;
    right: 20px;
    font-size: 60px;
}
.box{
    height: 295px;
	width: 45%;
}
}
@media only screen and (max-width: 1370px){
    .free{
        bottom: 3%;
        right: 15px;
        font-size: 50px;
    }
    .box{
        height: 295px;
        width: 45%;
    }
}
@media only screen and (max-width: 1280px){
    .free{
        bottom: 35%;
        right: 15px;
        font-size: 50px;
    }
    .box{
        height: 295px;
        width: 45%;
    }
}
@media only screen and (max-width: 1080px){
    .free{
        bottom: 24%;
        right: 15px;
        font-size: 44px;
    }
    .box{
        height: 295px;
        width: 45%;
    }
}
@media only screen and (max-width:500px){
   .login{
    background-image: url("../../../assets/img/register-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin:0 auto;
    height:100vh;
}  
  
    .lefty{
       text-align: center;
   }
    .box{
       
        width: 100%;
        border-radius: 20px;
    }
.regi{
    width: 90px;
    position: relative;
    bottom: 50px;
    background-color: orange;
    color: white;
    font-weight: 600;
}
.img{
    width: 130px;
}
.cloud{
    font-size: 12px;
}
.email{
    width:85%;
}
.free{
    bottom: 2%;
    right: 15px;
    font-size: 24px;
    white-space: nowrap;
}
}