<div class="container-fluid login">
    <div class="row">
        <div class="col-md-6">
            <a [routerLink]="['/home']"><img class="img" src="assets/img/logo2.png"></a>
        </div>
    <div class="col-md-6">
        <button class="regi" [routerLink]="['/registration']">Register</button>            
    </div>
</div>
<div class="box">
        <img class="logo" src="assets/img/cloud logo.png">
    <div class="input">
        <input class="email" type="email" id="email" name="email" placeholder="Skyber ID OR E-mail">
        <input class="email" type="name" id="password" name="password" placeholder="Password">
        </div>
    <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">  
    <div class="row">
    <div class="col-md-8">
        <p class="cloud">Not on Cloud yet? <a class="click" [routerLink]="['/registration']">Click here</a> to Register</p>
</div>
<div class="col-md-4 text-left">
<button class="log" [routerLink]="['/']">Login</button>
</div>
<div class="col-md-1">
</div>
</div>
</div>
</div>
</div>
<footer>
<h2 class="free">Free. Integrated. Unified.</h2>
</footer>
